

.btn{
    background-color: rgb(255, 217, 0);
    
}

.btn:hover{
    color: white;
    font-weight:bold;
}

.clearfix>a{
    background-color: rgb(174, 0, 255);
    text-decoration: none;
}

.card-text{
    font-size: 13px;
}

img{
    height: 200px;
    width: 200px;
}

.label-bottom{
    background-color: rgb(255, 217, 0);
    color: black;
    margin-left: 5px;
}

.aff-link{
    margin-right: 5px;
}

.card{
    margin-top: 30px;
    border-radius: 5%;
}

.card:hover{
    padding-top: 10px;
    height: 465px;
}

.float-end>svg:hover{
    color: tomato;
    cursor: pointer;
}


.float-start>svg:hover{
    color: blue;
    cursor: pointer;
}

.clearfix>a:hover{
    color: coral;
}

